/* reset */
$min-width: 320px; 
$max-width: 1200px; 
$base-bg: #fff; 
$base-font-size: 16px; 
$base-line-height: 24/16 * 100%; 
$base-font-family: 'Lato', sans-serif;
$custom-font-family: 'Bebas Neue', sans-serif; //normal
$custom-font-family-2: 'Bebas Neue Pro', sans-serif; //expanded
$default-transition:all 0.3s ease;


/* main variables */
$color-yellow:#FDC607;
$color-red:#FF0000;
$color-white:#fff;
$color-black:#000;
$color-orange:#FF7A00;
$color-black-new:#141211;
$color-light-grey-new:#F2EFEC;
$color-green:#64B581;
$color-graphite:#5A5863;
$color-light-graphite:#9497AA;
$color-light-grey:#E8E8EE;
$color-light-light-grey:#F7F7F9;
$color-black-new:#141211;










