@font-face {
    font-family: 'Bebas Neue';   
    src: url('../fonts/BebasNeuePro-Regular.woff2') format('woff2'),
        url('../fonts/BebasNeuePro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeuePro-Bold.woff2') format('woff2'),
        url('../fonts/BebasNeuePro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Bebas Neue Pro';
    src: 
        url('../fonts/BebasNeuePro-ExpandedRegular.woff2') format('woff2'),
        url('../fonts/BebasNeuePro-ExpandedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Bebas Neue Pro';
    src:
        url('../fonts/BebasNeuePro-ExpandedBold.woff2') format('woff2'),
        url('../fonts/BebasNeuePro-ExpandedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display:swap;
}



@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Heavy.woff2') format('woff2'),
        url('../fonts/Lato-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Medium.woff2') format('woff2'),
        url('../fonts/Lato-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.woff2') format('woff2'),
        url('../fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.woff2') format('woff2'),
        url('../fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');


.b-rub{
    //position: relative;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    line-height: 1;
   /* &:before{
            content: "";
            position: absolute;
            top: 65%;
            left: 0;
            right: 1px;
            height: 1px;
            background: currentColor;
    }*/
}